<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Gecomer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access Apple Music to play music and display information about artists, albums, and songs.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access Bluetooth to connect with other peripherals.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access Bluetooth to connect with other peripherals.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access the device's calendar to display events and related information.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access the device's camera to capture photos or record videos.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access the device's contacts to display information related to contacts.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to use Face ID to authenticate the user.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access this device's location? We will send you the locations about the ${PRODUCT_NAME} stores at the nearby you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access this device's location? We will send you the locations about the ${PRODUCT_NAME} stores at the nearby you.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>YOUR-PURPOSE-KEY</key>
		<string>YOUR TEXT</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access this device's location? We will send you the locations about the ${PRODUCT_NAME} stores at the nearby you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access the device's microphone to record audio or use voice recognition features.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access the device's motion sensor to use motion-related features.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to save photos to the device's photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access the device's photo library to display and manage photos.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access the device's reminder list to display events and related information.</string>
	<key>NSSiriUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access Siri to understand and execute user commands.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to access the device's speech recognition feature to understand user commands.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Allows ${PRODUCT_NAME} to track users on the device to provide and display relevant advertising.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
